<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- collegamento vue cdn -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Vue Email List</title>
</head>
<body>
    <div id="app">
        <div class="container">
            <!-- al evento click del bottone avvio la funzione (10) volte -->
            <button @click="generateEmails(10)">Show 10 emails</button>
            <ul v-if="emails.length >= 10">
                <!-- genero un li per ogni elemento dell'array emails[] in data -->
                <li v-for="email in emails" :key="email">
                    <!-- interpolazione per mostrare l'elemento email in array emails[] -->
                    {{ email }}
                </li>
            </ul>
        </div>
    </div>
    <!-- collegamento axios cdn -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="js/script.js"></script>
</body>
</html>